/* import all .scss files needed for website */
/* save all media queries in one file 
  - mobile
  - TODO tablet
  - TODO wide-screen 
*/
/* mobile media quiery */
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

header,
h1,
div,
nav,
article,
section {
  margin: 20px;
  padding: 20px;
}

h1 {
  font-size: 48px;
  color: #091C2E;
}

@media (max-width: 600px) {
  h1 {
    font-size: 32px;
  }
  nav {
    margin: 10px;
    padding: 10px;
  }
}

.text--blue {
  color: #1681ff;
}

/* same styling for all buttons 
  - normal buttons
  - contact form submit button
*/
button,
.contactForm__button {
  background: #1681ff;
  color: white;
  border: none;
  text-decoration: none;
  padding: 10px;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  margin: 0;
}

.icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 15px;
  background: rgba(22, 129, 255, 0.8);
  color: white;
}

img {
  width: 500px;
  -webkit-box-shadow: 0 0 8px grey;
          box-shadow: 0 0 8px grey;
}

@media (max-width: 600px) {
  img {
    width: 300px;
  }
}

footer {
  color: white;
  background: #091c2e;
  text-align: left;
  padding: 20px;
}

/* Kontaktformular 
  (submit button defined under /elements/buttons.scss) */
.contactForm {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.contactForm__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contactForm__ul {
  list-style-type: none;
  /* bg image */
  background-image: url(media/images/bg.png);
  background-repeat: no-repeat;
  background-size: 650px;
  /* TODO fix dimensions of bg */
  background-position: center;
}

.contactForm__li, .contactForm__li-a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
  text-align: left;
}

.contactForm__li-a {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.contactForm__input--half, .contactForm__input--full, .contactForm__input__text {
  padding: 10px;
  -webkit-box-shadow: 0 0 1 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 1 0 rgba(0, 0, 0, 0.2);
}

.contactForm__input--full {
  width: 100%;
}

.contactForm__text {
  width: 100%;
  height: 100px;
}

@media (max-width: 600px) {
  .contactForm__li-a {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contactForm__input--half, .contactForm__input--full, .contactForm__input__text {
    width: 200px;
  }
}

.header-a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header-a__logo {
  font-weight: bold;
}

/* mobile navigation */
@media (max-width: 600px) {
  .header-a {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header-a__logo {
    font-size: xx-large;
  }
}

/* the 3 info boxes (passende informationen...) */
.infoBox__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* bg image */
  background-image: url(media/images/bg.png);
  background-repeat: no-repeat;
  background-size: 454px;
  background-position: center;
}

.infoBox__item {
  width: 200px;
  height: 240px;
  background: white;
  -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}

.infoBox__title {
  font-size: 18px;
  -webkit-text-emphasis: bold;
          text-emphasis: bold;
  font-weight: bold;
  line-height: 20px;
}

.infoBox__p {
  font-size: 14px;
  line-height: 17px;
}

.infoBox__link {
  text-decoration: underline;
  color: black;
  font-size: 16px;
}

@media (max-width: 600px) {
  .infoBox__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.intro__text {
  text-align: left;
  font-size: 48px;
}

.intro__p {
  font-size: 20px;
}

.intro__image {
  width: 600px;
  height: 500px;
}

@media (max-width: 600px) {
  .intro {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .intro__text {
    text-align: center;
    font-size: 22px;
  }
  .intro__p {
    font-size: 14px;
  }
  .intro__image {
    width: 200px;
    height: 200px;
  }
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  width: 100%;
  font-size: 16px;
}

.navigation__ul {
  list-style-type: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* make links spread across nav width */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* make another flex-box out of links */
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
}

.navigation__li {
  margin: 20px;
}

.navigation__a {
  text-decoration: none;
  color: black;
}

/* mobile query */
@media (max-width: 600px) {
  .navigation {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .navigation__ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  .navigation__li {
    margin: 10px;
    border: 1px solid black;
    padding: 10px;
  }
}
/*# sourceMappingURL=style.css.map */