body{
	font-family: Georgia, 'Times New Roman', Times, serif;
	text-align: center;
	scroll-behavior: smooth;
}

footer{
	background-color: black;
	color: white;
	text-align: left;
}

.p_f{
	margin-left: 100px;
	padding: 10px;
}

.container{
	margin: 50px;
	padding: 50px;
}

h1{
	margin-top: 50px;
	margin-bottom: 50px;
}

.h1_A{
	margin-top:100px;
}


/*Images*/

img{
	box-shadow: 0 0 8px grey;
	border-radius: 10px;
	width: 50%;
}

.pic-map{
	position: absolute;
	left: 25%;
	width: 920px;
	height: 400px;
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.25);
	border-radius: 2px;
}
.img-form{

	position: absolute;

	z-index:1;


	
	box-shadow: none;
}

.img-form{
	width: 550px;
	height: 450px;

	margin:0 auto;
	margin-left:-270px;
	margin-top: -20px;
}

/* Text at beginning of page, special layout */
.pre-A{
	text-align: left;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: xx-large;
	font-weight: bold;

	margin-left: -130px;
}

nav{
	font-family: sans-serif;
	margin-top:-50px;
}

/*List (nav) */
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden; 
}

/* fixed navbar prototype...
.ul-nav{	
	position: fixed;  
	background-color: white;
	width: 100%;
} */

li a, .a-A {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
	border: 1px solid black;
}

li .a-A:hover:not(.active) {
	border: none;
}

button{
	background:#3c78d8;
	box-shadow: 0 0 8px grey;
	float:left;

	padding: 8px 15px 8px 15px;
	border: none;
	color: #fff;
}

button:hover{
	background-color: red;
}


/* Black rounded background */
.div_Black{
	background-color:#091C2E;
	color:white;

	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.25);
	border-radius: 50%;

	padding: 20px;
	margin: 20px;

	position: absolute;
	width: 2762px;
	height: 739px;
	left: -20%; /*make ellipse start outside window*/
}


/* "Die 3 Schritte"... ************************************************/
.info-boxes{
	text-align: center;
	margin:0 auto; /*put in center of page*/

	padding: 20px;
	width:100%;

	/*bg image*/
	background-image: url( bg.png);
	background-repeat: no-repeat;
	background-size: 600px 500px;
	background-position: center;
}

.info-boxes-item{
	margin:0 auto;

	background-color: white;
	box-shadow: 2px 2px 10px 2px grey;
	
	width: 150px;
	height:200px;

	padding: 40px;
	margin: 80px;
	float: left;
}

.icon-A{
	color:white;
	background-color: #3399ff; 
	border-radius: 50%; 
	text-align: center;
	font-size: large;
	padding: 20px;
	margin:20px;
}



/* Image slider kunden ************************************************/
#slider {
	position: relative;
	overflow: hidden;
	margin: 20px auto 0 auto;
	border-radius: 4px;

	box-shadow: 2px 2px 10px 2px grey;
  }
  
  #slider ul {
	position: relative;
	margin: 0;
	padding: 0;
	height: 200px;

	
  }
  
  #slider ul li {
	position: relative;
	display: block;
	float: left;
	margin: 0;
	padding: 0;
	width: 500px;
	height: 200px;
	text-align: center;
	line-height: 300px;
  }
  
  a.control_prev, a.control_next {
	position: absolute;
	top: 40%;
	z-index: 10;
	display: block;
	padding: 15px;

	width: 10px;
	height: 10px;

	border-radius: 100%;

	box-shadow: 2px 2px 10px 2px grey;
	background: white;
	color:black;
  } 
  
  a.control_next {
	right: 0;
  }


/* Image slider top ************************************************/
.slide-holder{
	width:700px;  /*size of slide holder*/
	height:400px;
	background-color:black;
	margin:auto;
	overflow:hidden;  /*hide overflowing pictures...*/
}

.slide-image { 
	float:left;
	margin:0px; 
	padding:0px;
	position:relative; 
	z-index:1; 

	width:700px;
}

.slider-button, .slider-button-big {
	margin-top:10px;

	display:inline-block;
	height:12px;
	width:12px;
	background-color:lightgray;
	border-radius:10px;
}

.slider-button-big{
	height:14px;
	width:14px;
}

#slide-1:target ~ .slide-group{ /*first button moves it to initial position*/
	left:0px; 
}

#slide-2:target ~ .slide-group{ /*second image starts at 400px */
	left:-400px;

}

#slide-3:target ~ .slide-group{ /*third image starts at 800px */
	left:-800px;

}

.slide-group {
	width:1200px;
	height:400px;
	position:relative;
	clear:both;
	z-index:0;
	left:0px;

	/*set transition property for all browsers */
	-webkit-transition: left 2s;
	-moz-transition: left 2s;
	-o-transition: left 2s;
	transition: left 2s;
}


/* Form styling ************************************************/
.form-A, .form-B {
	margin:10px auto;
	max-width: 400px;
	padding: 20px 12px 10px 20px;
	font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;

	/*Put form infront of bg image*/
	position:relative;
	z-index:5;
}

.form-B{
	position: absolute;
}

.form-A li {
	padding: 0;
	display: block;
	list-style: none;
	margin: 10px 0 0 0;
}

.form-A input, textarea, select{
	box-shadow: 2px 2px 5px 2px grey;

	box-sizing: border-box;
	border:1px;
	padding: 7px;
	margin:0px;
}

.form-A input:focus,
.form-A textarea:focus, 
.form-A select:focus{
	box-shadow: 0 0 8px blue;
	border: 1px solid blue;
}

.form-A .field-divided{
	width: 49%;
}

.form-A .field-long{
	width: 100%;
}

.form-A .field-textarea{
	height: 200px;
}

.form-A .required{
	color:red;
}

/*submit button*/
.form-A input[type=submit], .form-A input[type=button]{
	background: #3c78d8;
	box-shadow: 2px 2px 5px 2px grey;
	float:left;
	padding: 8px 15px 8px 15px;
	color: #fff;
}

.form-A input[type=submit]:hover, .form-A input[type=button]:hover{
	background: red;
}