body {
  display: flex;
  flex-direction: column;
  text-align: center;
}

header,
h1,
nav,
article,
section {
  margin: 0;
  padding: 20px;
}

footer {
  color: white;
  background: #091c2e;
  text-align: left;
  padding: 20px;
}

/* Header part
  Header
  Logo
  Navbar//////////////////////////////////// */

/* For screen width < 60  0 */
.header__container {
  display: flex;
  flex-direction: column;
}

.div__logo {
  padding: 20px;
  font-weight: bold;
}

nav {
  display: flex;
  justify-content: right;
}

.ul__nav {
  list-style-type: none;
  display: flex; /* make another flex-box out of links */
  flex-wrap: wrap; /* make links wrap for smaller screens */
  align-items: right;
}

.li__nav {
  margin: 10px;
}

.a__nav {
  color: black;
  text-decoration: none;
}

@media screen and (min-width: 600px) {
  .header__container {
    flex-direction: row;
  }

  nav {
    width: 100%;
  }

  .ul__nav {
    justify-content: space-between; /* make links spread across nav width */
  }
}

.text--blue {
  color: #1681ff;
}

/* same styling for all buttons */
button,
.submit__button {
  background: #1681ff;
  color: white;
  border: none;
  text-decoration: none;
  padding: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  margin: 0;
}

/** main **************************************************/

/* Bilder *******************************/
.section__intro {
  display: flex;
  justify-content: center;
}

/* intro text */
.intro {
  text-align: left;
  margin: 20p;
  padding: 20px;
}

.image__container {
  margin: 20px;
  flex: 2/3;
}

.image__intro {
  width: 500px;
  box-shadow: 0 0 8px grey;
}

/* 3 Schritte *******************************/

/* for screen width < 600px */
.box__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;

  /* bg image */
  background-image: url(images/bg.png);
  background-repeat: no-repeat;
  background-size: 650px; /* TODO fix dimensions of bg */
  background-position: center;
}

.box__item {
  margin: 30px;
  padding: 20px;
  background: white;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 600px) {
  .box__wrapper {
    flex-direction: row;
    justify-content: center;
  }

  .box__item {
    width: 15%;
  }
}

.link__info {
  color: black;
  text-decoration: underline;
}

/* Kontaktformular *******************************/
.section__box {
  align-items: center;
  align-content: center;
}

form {
  display: flex;
  justify-content: center;
}

.ul__form {
  padding: 20px;
  list-style-type: none;

  /* bg image */
  background-image: url(images/bg.png);
  background-repeat: no-repeat;
  background-size: 650px; /* TODO fix dimensions of bg */
  background-position: center;
}

.li__form,
.li__form-A {
  display: flex;
  padding: 5px;
  text-align: left;
}

.li__form-A {
  flex-direction: row;
}

.input--half,
.input--full,
.input__text {
  box-shadow: 0 0 1  0 rgba(0, 0, 0, 0.2);
}

.input--full {
  width: 100%;
}

.input__text {
  width: 100%;
  height: 100px;
}
