.header-a {
  display: flex;
  flex-direction: row;
  font-family: sans-serif;

  &__logo {
    font-weight: bold;
    font-size: 20px;
    align-self: left;
    margin: 0;
  }
}

/* mobile navigation */
@include mobile {
  .header-a {
    flex-direction: column;

    &__logo {
      font-size: xx-large;
      margin: 0;
      padding: 0;
    }
  }
}
