.intro {
    display: flex;
    flex-direction: row;
    justify-content: center;

    &__text {
        text-align: left;
        font-size: 48px;
    }

    &__p {
        font-size: 20px;
    }

    &__image__container {

    }

    &__image {
        width: 600px;
        height: 500px;

    }
}

@include mobile {
    .intro {
      flex-direction: column;

      &__text {
          text-align: center;
        font-size: 22px;
      }

      &__p{
        font-size: 14px;
      }

      &__image__container {

      }

      &__image {
          width: 200px;
          height: 200px;
      }
    }
}
