$margin: 20px;
$padding: 20px;

body {
  display: flex;
  flex-direction: column;
  text-align: center;
}

header,
h1,
div,
nav,
article,
section {
  margin: $margin;
  padding: $padding;
}

h1 {
  font-size: 48px;
  color: #091c2e;
}

@include mobile {
  h1 {
    font-size: large;
    text-align: center;
  }

  nav {
    margin: $margin;
    padding: $padding;
  }
}

@include widescreen {
  header,
  h1,
  div,
  nav,
  article,
  section {
    align-self: center;
  }
}
